services:
  nest-test-db:
    image: postgres:15
    container_name: nest-postgres-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 3

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    restart: always
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@nest-test-db:5432/${DB_NAME}"
    depends_on:
      nest-test-db:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - app-logs:/app/logs 
    command: sh -c 'npx prisma migrate deploy && if [ "$NODE_ENV" = "development" ]; then npm run start:dev; else npm run start:prod; fi'

volumes:
  postgres-data:
  app-logs:

networks:
  app-network:
    driver: bridge